.elementor-section {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 97px 0px 110px 0px;
    position: relative;
}

.elementor-container {
    margin: 0 auto;
    max-width: 1200px;
}

.elementor-widget-wrap {
    padding: 15px;
    position: relative;
    width: 100%;
}

.elementor-widget {
    text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");
.item-text-below {
    background-size: 100%;
    background-image: linear-gradient(to bottom, #4f3dff, #ffffff);
    font-size: 135px;
    font-weight: 700;
    font-family: fira sans, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    line-height: 1;
    opacity: 0.2;
}

.item-sub-title {
    color: #4f3dff !important;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}

.item-sub-title::before {
    background-color: #4f3dff !important;
    content: "";
    left: 0;
    width: 7px;
    height: 7px;
    margin-left: 42%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 7px;
}

.item-sub-title::after {
    content: "";
    background-color: #4f3dff !important;
    right: 0;
    width: 7px;
    height: 7px;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 42%;
    position: absolute;
    border-radius: 7px;
}

.item-title {
    text-transform: capitalize;
    margin-bottom: 14px;
    font-size: 42px;
    line-height: 1.1428;
    font-family: fira sans, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
}

.item-title cite {
    color: #4f3dff;
    font-style: normal;
}

.ele-text {
    text-align: center;
    color: #67687a;
    font-weight: 500;
    margin: 0px 0px 85px 0px;
}

.ele-text:after {
    content: "";
    clear: both;
    width: 0;
    height: 0;
}

.ct-step-1 {
    margin: 0 -36px;
    align-items: center;
}

.ct-holder {
    width: 90%;
    padding-left: 110px;
    text-align: left;
}

.ct-title {
    margin-bottom: 13px;
    font-size: 30px;
    font-weight: 700;
    overflow-wrap: break-word;
}

.ct-content {
    color: #555;
    margin-bottom: 20px;
}

a,
a:hover,
a.focus,
a:active {
    text-decoration: none;
}

.btn-circle {
    font-family: fira sans, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #2e2d2d;
    background: none;
    padding: 12px 10px;
    position: relative;
}

.btn-circle::before {
    content: "";
    position: absolute;
    top: 5%;
    left: -2%;
    transform: translateX(-50%) translateY(calc(100%+4px));
    width: 45px;
    height: 45px;
    background: #e5e4ff;
    border-radius: 50px;
    transition: transform 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2), width 0.25s cubic-bezier(0, 0, 0.5, 2);
    z-index: -1;
}

.btn-circle:hover::before {
    width: 50%;
    background: orange;
    color: white !important;
    transform: translateY(-4%) translateX(-15px);
    transition: transform 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2), width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.ct-meta {
    width: 80%;
    background-color: #f6f8fb;
    border-radius: 30px;
    overflow: hidden;
}

.ct-number {
    height: 100%;
    background-color: #4f3dff;
    font-size: 30px;
    font-weight: 700;
    font-family: fira sans, sans-serif;
    color: #fff;
    display: flex;
    min-width: 110px;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 40px;
}

.num {
    position: absolute;
    top: 65px;
}

.ct-icon {
    padding: 40px;
}

.ct-number:before {
    content: "";
    border: 60px solid #6a5bfd;
    width: 238px;
    height: 238px;
    position: absolute;
    top: 45px;
    right: -28px;
    z-index: -1;
    border-radius: 100%;
    box-shadow: -11px 0 18px rgba(36, 36, 40, 0.38) inset;
}

.ct-line1 {
    width: 1px;
    height: 160px;
    background-color: #d9d9d9;
    position: absolute;
    left: 47%;
    top: 450px;
    margin-top: -16px;
}

.ct-arrow1 {
    position: absolute;
    top: 370px;
    left: 505px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 38px;
    color: #fff;
    background-color: #765dd4;
    box-shadow: 0 11px 18px rgba(79, 61, 255, 23%);
    font-size: 18px;
    transform: translate(0, -50%);
    z-index: 100;
}

.ct-step-1,
.ct-step-2 {
    padding-bottom: 80px;
}

.ct-number2:before {
    content: "";
    border: 60px solid #f665a9;
    width: 238px;
    height: 238px;
    position: absolute;
    top: 45px;
    right: -28px;
    z-index: -1;
    border-radius: 100%;
    box-shadow: -11px 0 18px rgba(36, 36, 40, 0.38) inset;
}

.ct-number2 {
    height: 100%;
    background-color: #fe0c7e;
    font-size: 30px;
    font-weight: 700;
    font-family: fira sans, sans-serif;
    color: #fff;
    display: flex;
    min-width: 110px;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 60px;
}

.ct-arrow2 {
    position: absolute;
    top: 650px;
    left: 505px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 38px;
    color: #fff;
    background-color: #765dd4;
    box-shadow: 0 11px 18px rgba(79, 61, 255, 23%);
    font-size: 18px;
    transform: translate(0, -50%);
    z-index: 100;
}

.ct-holder2 {
    width: 90%;
    padding-left: 70px;
    text-align: left;
}

.ct-line2 {
    width: 1px;
    height: 160px;
    background-color: #d9d9d9;
    position: absolute;
    left: 47%;
    top: 730px;
    margin-top: -16px;
}

.ct-arrow3 {
    position: absolute;
    top: 925px;
    left: 505px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 38px;
    color: #fff;
    background-color: #765dd4;
    box-shadow: 0 11px 18px rgba(79, 61, 255, 23%);
    font-size: 18px;
    transform: translate(0, -50%);
    z-index: 100;
}