
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	background-color: white;
	color: white;
	text-rendering:optimizeLegibility;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}
.row{
	max-width: 1140px;
	margin: 0 auto;
}

/***CLEARFIX***/
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}

footer{
	padding: 50px;
    background: linear-gradient(90deg, #021048, #1e38a3) !important;
}
h1{
	padding-bottom: 20px;
}
.btn-primary {
    color: white;
    background-color: #175cff;
    border-color: #175cff;
    box-shadow: 0 11px 18px -8px rgba(23,92,255,60%);
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 10px 27px;
    box-shadow: none;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid transparent;
}

.page{
	padding-left: 100px;
}
ul{
	list-style: none;
}
li{
	padding: 3px;
}
h1{
	font-weight: 400;
}
#para{
	text-align: center;
	padding-top: 20px;
}